// Styles for Body

.body--loaded {
  .page-header {
    opacity: 1;
  }

  .page-header__menu {
    opacity: 1;
  }

  .page-header__logo {
    opacity: 1;
    transform: translateX(0);
  }

  .page-header__menu-link {
    &.active {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .social-block__toggler {
    opacity: 1;

    &::before {
      transform: scale(1);
    }
  }
}

.story-slide_second {
  .page-header__menu-link {
    &:hover {
      color: #a0ceff;

      &::after {
        background: #a0ceff;
      }
    }
  }

  .social-block__toggler {
    color: #a0ceff;
  }
}

.story-slide_third {
  .page-header__menu-link {
    &:hover {
      color: #3e72ee;

      &::after {
        background: #3e72ee;
      }
    }
  }

  .social-block__toggler {
    color: #90b8e2;

    &:hover,
    &:focus {
      color: #3e72ee;
    }

    &:active {
      background: #3e72ee;

      &:focus {
        background: #3e72ee;
      }
    }
  }

  .social-block--active {
    .social-block__toggler {
      color: #3e72ee;
    }
  }

  .social-block__link {
    &:hover {
      color: #3e72ee;
    }
  }
}

.story-slide_last {
  .page-header__menu-link {
    &:hover {
      color: #3e72ee;

      &::after {
        background: #3e72ee;
      }
    }
  }

  .social-block__toggler {
    color: #90b8e2;

    &:hover,
    &:focus {
      color: #3e72ee;
    }

    &:active {
      background: #3e72ee;

      &:focus {
        background: #3e72ee;
      }
    }
  }

  .social-block--active {
    .social-block__toggler {
      color: #3e72ee;
    }
  }

  .social-block__link {
    &:hover {
      color: #3e72ee;
    }
  }
}
