.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $c-dark;
  z-index: 10;
}

.footer__inner {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background: $c-light;
  transition: transform 0.5s cubic-bezier(0.5, 0.85, 0.75, 0.95);
  transform: translateY(100%);

  @media (min-width: $stop-scaling) {
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    justify-content: flex-start;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;

    &.footer--full {
      width: 100%;
      height: 18rem;

      & .footer__content,
      & .footer__announce {
        opacity: 1;
      }
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    justify-content: flex-start;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;

    &.footer--full {
      width: 100%;
      height: 16rem;

      & .footer__content,
      & .footer__announce {
        opacity: 1;
      }
    }
  }
}

.footer__snowflake {
  flex-shrink: 0;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;

  @media (min-width: $stop-scaling) {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }
}

.footer__link {
  @include hover;
  display: inline-block;
  padding: 8px 2px;
  color: $c-dark;
  text-decoration: underline;

  @media (max-width: $tablet) and (orientation: portrait) {
    color: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: rgba(255, 255, 255, 0.5);
  }
}

.screen--intro {
  &.screen--active {
    & ~ .footer {
      .footer__inner--intro {
        position: relative;
        transform: translateY(0);
      }
    }
  }
}

.screen--prizes {
  &.screen--active {
    & ~ .footer {
      .footer__inner--not-intro {
        position: relative;
        transform: translateY(0);
      }
    }
  }
}

.screen--rules {
  &.screen--active {
    & ~ .footer {
      .footer__inner--not-intro {
        position: relative;
        height: auto;
        transform: translateY(0);

        @media (max-width: $tablet) and (orientation: portrait) {
          width: 100%;
          background: transparent;
          color: rgba(255, 255, 255, 0.5);
          border-radius: 0;
          font-size: 1rem;
          text-transform: uppercase;
          text-align: center;
        }

        @media (max-width: $mobile) and (orientation: landscape) {
          width: 100%;
          background: transparent;
          color: rgba(255, 255, 255, 0.5);
          border-radius: 0;
          font-size: 1rem;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}

.footer__nested {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.screen--prizes {
  &.screen--active {
    & ~ .footer {
      .footer__nested--prizes {
        position: relative;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.screen--rules {
  &.screen--active {
    & ~ .footer {
      .footer__nested--rules {
        position: relative;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.footer__padding-y-8 {
  padding: 8px 4rem;

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 1rem;
  }
}

.footer__content {
  @media (max-width: $tablet) and (orientation: portrait) {
    padding-left: 2.5rem;
    opacity: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding-left: 2.5rem;
    opacity: 0;
  }
}

.footer__announce {
  display: none;
  margin-bottom: 1.6rem;
  padding: 3rem 0 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
    opacity: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
    opacity: 0;
  }
}

.footer__button {
  @include btn-reset;
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 8px 8px 0 0;
  color: $c-dark;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__button--enlarge {
  left: 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    .footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    .footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.footer__button--collapse {
  right: 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    opacity: 0;
    pointer-events: none;

    .footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    opacity: 0;
    pointer-events: none;

    .footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.screen__footer-label {
  margin: 0 0 0.3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.2;
}

.screen__footer-date {
  margin: 0;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 0.9;
}
