
.word {
  display: inline-flex;
  overflow: hidden;
}

.letter {
  transform: translate3d(0, 3em, 0);
}

.screen {
  &.screen--active {
    .letter {
      transform: translate3d(0, 0, 0);
    }
  }
}
