.page-content {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  background-color: $c-dark;
  transition: visibility 0s;

  &--active {
    visibility: visible;
  }
}

.screen--intro {
  &.screen--active {
    .intro__message {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s ease-out, transform 0.7s ease-out;
    }
  }
}

.screen__wrapper {
  @include container;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen--story {
  z-index: 2;
  background-color: $c-dark;
  background-image: url("../img/slide1.jpg"), url("../img/slide2.jpg"), url("../img/slide3.jpg"), url("../img/slide4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.screen--active {
    .slider__control {
      opacity: 1;
      transform: translateX(0);

      &.swiper-button-disabled {
        opacity: 0.5;
      }
    }

    .slider__item-title {
      opacity: 1;
      transform: translateY(0);
    }

    .swiper-slide-active,
    .swiper-slide-next {
      .slider__item-text {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @media (orientation: portrait) {
    background-size: auto calc(100vh - 13.8rem), 100% 25rem;
    background-position: top center, bottom center;
  }
}

.screen--prizes {
  z-index: 3;

  &.screen--active {
    & .screen__wrapper {
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $c-dark;
    transform: translateY(100%);
    content: "";
  }

  & .screen__wrapper {
    opacity: 0;
  }
}

.screen--story-to-prizes {
  background-color: transparent;


  &::after {
    transform: translateY(0);
    transition: 0.4s cubic-bezier(0.38, 0.75, 0.55, 1);
  }

  & .screen__wrapper {
    opacity: 1;
    transition: opacity 0.3s 0.2s;
  }

  & + .screen--story {
    transition: visibility 0s 0.5s;
  }
}


.screen--game {
  background-color: $c-dark;

  &::before {
    content: "";
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    width: 32.7rem;
    height: 36.9rem;
    background-image: url("../img/sonya.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url("../img/sonya@2x.png");
    }

    @media (min-width: $stop-scaling) {
      right: -85px;
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }
}

.screen--result {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: $c-dark;
  opacity: 0;
  pointer-events: none;

  &.screen--active {
    opacity: 1;
    pointer-events: auto;

    & .result--negative {
      & .result__button-text {
        opacity: 1;
      }

      & .result__button-spinner {
        transform: translate3d(0, 0, 0) rotate(0);
      }
    }
  }
}

.screen--rules {
  background-color: $c-dark;

  &.screen--active {
    & .rules__mark {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(0.4, 0.54, 0.8, 1.6);

      &::after {
        opacity: 1;
        transition: opacity 0.2s ease-out;
      }
    }

    & .rules__text {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    }

    & .rules__link {
      &.btn {
        &::before {
          width: 100%;
          opacity: 1;
          transition: opacity 0.1s 1.1s ease-out, width 0.3s 1.1s ease-out;
        }

        & .btn__text {
          opacity: 1;
          transition: opacity 0.2s 1.3s ease-out;
        }
      }
    }

    @for $i from 1 through 4 {
      .rules__item:nth-child(#{$i}) {
        .rules__mark {
          transition-delay: 0.2s * $i;

          &::after {
            transition-delay: 0.2s * $i + 0.1s;
          }
        }

        .rules__text {
          transition-delay: 0.2s * $i + 0.1s;
        }
      }
    }
  }
}
